// Tokyonight Default Theme Color Palette

// Red
$red-light: **base0A**;
$red-dark: **base09**;

// Pink
$pink-light: **base1F**;
$pink-dark: **base1E**;

// Purple
$purple-light: **base1C**;
$purple-dark: **base1B**;

// Blue
$blue-light: **base19**;
$blue-dark: **base18**;

// Teal
$teal-light: mix(**base17**, **base11**,60%);
$teal-dark: lighten(mix(**base17**, **base11**,60%), 10%);

// Cyan
$cyan-light: **base16**;
$cyan-dark: **base15**;

// Green
$green-light: **base13**;
$green-dark: **base12**;

// Yellow
$yellow-light: **base10**;
$yellow-dark: **base0F**;

// Orange
$orange-light: **base0D**;
$orange-dark: **base0C**;

// Accent Color
$accent-light: **accent02**;
$accent-dark: **accent01**;

// Grey
$grey-050: **base01**;
$grey-100: darken(**base01**, 5%);
$grey-150: **base00**;
$grey-200: darken(**base00**, 5%);
$grey-250: lighten(**base02**, 5%);
$grey-300: **base02**;
$grey-350: darken(**base02**, 5%);
$grey-400: **base03**;
$grey-450: darken(**base03**, 5%);
$grey-500: lighten(**base05**, 5%);
$grey-550: **base05**;
$grey-600: darken(**base05**, 5%);
$grey-650: lighten(**base04**, 5%);
$grey-700: **base04**;
$grey-750: darken(**base04**, 5%);
$grey-800: lighten(**base06**, 5%);
$grey-850: **base06**;
$grey-900: lighten(**base07**, 5%);
$grey-950: **base07**;

// White
$white: **base01**;

// Black
$black: **base06**;

// Theme
$default-light: $accent-light;
$default-dark: $accent-dark;

// Button
$button-close: if($topbar == 'light', **base0A**, **base09**);
$button-max: if($topbar == 'light', **base12**, **base12**);
$button-min: if($topbar == 'light', **base0D**, **base0C**);
