// Red
$red-light: **base0A**;
$red-default: **base08**;
$red-dark: **base09**;

// Pink
$pink-light: **base1F**;
$pink-default: **base1D**;
$pink-dark: **base1E**;

// Purple
$purple-light: **base1C**;
$purple-default: **base1A**;
$purple-dark: **base1B**;

// Blue
$blue-light: **base19**;
$blue-default: **base17**;
$blue-dark: **base18**;

// Teal
$teal-light: mix(**base17**, **base11**,60%);
$teal-default: darken(mix(**base17**, **base11**,60%), 10%);
$teal-dark: lighten(mix(**base17**, **base11**,60%), 10%);

// Cyan
$cyan-light: **base16**;
$cyan-default: **base14**;
$cyan-dark: **base15**;

// Green
$green-light: **base13**;
$green-default: **base11**;
$green-dark: **base12**;

// Yellow
$yellow-light: **base10**;
$yellow-default: **base0E**;
$yellow-dark: **base0F**;

// Orange
$orange-light: **base0D**;
$orange-default: **base0B**;
$orange-dark: **base0C**;

// Accent Color
$accent-light: **accent02**;
$accent-default: **accent00**;
$accent-dark: **accent01**;


$fg-light: **base01**;
$fg-default: **base00**;
$fg-dark: **base02**;
$fg-dark-alt: **base03**;
$fg-light-inactive: rgba($fg-light, 0.6);
$fg-default-inactive: rgba($fg-default, 0.6);
$fg-dark-inactive: rgba($fg-dark, 0.6);
$fg-dark-alt-inactive: rgba($fg-dark-alt, 0.6);



$fg-200: darken(**base00**, 5%);
$fg-250: lighten(**base02**, 5%);
$fg-300: **base02**;
$fg-350: darken(**base02**, 5%);
$fg-400: lighten(**base03**, 5%);
$fg-450: **base03**;                  

$bg-light: **base05**;                          //reviewed&replaced
$bg-default: **base04**;                        //reviewed&replaced
$bg-dark: **base06**;                           //reviewed&replaced
$bg-dark-alt: **base07**;                       //reviewed&replaced
$bg-light-inactive: rgba($bg-light, 0.7);       //reviewed&replaced
$bg-default-inactive: rgba($bg-default, 0.7);   //reviewed&replaced
$bg-dark-inactive: rgba($bg-dark, 0.7);         //reviewed&replaced
$bg-dark-alt-inactive: rgba($bg-dark-alt, 0.7); //reviewed&replaced
$bg-light-hover: rgba($bg-light, 0.5);          //reviewed&replaced

$bg-button-clickable: lighten($bg-default, 3%); //reviewed&replaced


$bg-100: darken(**base05**, 5%);
$bg-150: lighten(**base04**, 5%);
$bg-200: **base04**;
$bg-250: darken(**base04**, 5%);
$bg-300: lighten(**base06**, 5%);
$bg-350: **base06**;
$bg-400: lighten(**base07**, 5%);


@function bw($return_white: true) {
    $brightnessfg: (red($fg-light) * 299 + green($fg-light) * 587 + blue($fg-light) * 114) / 1000;
	$brightnessbg: (red($bg-dark) * 299 + green($bg-dark) * 587 + blue($bg-dark) * 114) / 1000;
    @if ($brightnessfg >= $brightnessbg) {
        @if $return_white {
            @return $fg-light;
        } @else {
            @return $bg-dark;
        }
    } @else {
        @if $return_white {
            @return $bg-dark;
        } @else {
            @return $fg-light;
        }
    }
}

// White
$white: bw(true);

// Black
$black: bw(false);


$border: rgba($fg-dark-alt, 0.12); 
$border-light: rgba($fg-dark, 0.08);

