@import 'color-palette-default';

$colorscheme: 'default';

// transparent opacity
$opacity: 'default';

// Theme size
$compact: 'false';

// Theme translucent
$translucent: 'false';

// Panel translucent opacity
$panel_opacity: 0.6;

// Blackness style
$blackness: 'false';

// Windows outline style
$outline: 'false';

// Gnome-Shell float panel version
$float: 'false';
