// based css:
// https://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-themes/trunk/view/head:/Ambiance/gtk-3.20/apps/unity.css

/*********
 * Unity *
 *********/
// Decorations
UnityDecoration {
    -unitydecoration-extents: 28px 0 0 0;
    -unitydecoration-input-extents: 8px;

    -unitydecoration-shadow-offset-x: 0;
    -unitydecoration-shadow-offset-y: 3px;
    -unitydecoration-active-shadow-color: rgba(black, 0.48);
    -unitydecoration-active-shadow-radius: 18px;
    -unitydecoration-inactive-shadow-color: rgba(black, 0.32);
    -unitydecoration-inactive-shadow-radius: 6px;

    -unitydecoration-glow-size: 8px;
    -unitydecoration-glow-color: $accent-default;

    -unitydecoration-title-indent: 4px;
    -unitydecoration-title-fade: 32px;
    -unitydecoration-title-alignment: 0;

    .top {
        padding: 0 2px;
        border-style: none;
        border-radius: $window-radius $window-radius 0 0;
        box-shadow: inset 0 1px highlight(#ff8Eff); //$titlebar);
        background-color: #ff83ff; //$titlebar;
        color: #ffB3ff; //$titlebar-text;

        &:backdrop {
            background-color: #49ffff; //$titlebar-backdrop;
            color: #48ffff; //$titlebar-text-secondary;
        }
    }

    .left,
    .right {
    }

    .bottom {
    }

    .menuitem {
        color: #47ffff; //$titlebar-text-secondary;

        &:hover {
            box-shadow: inset 0 -2px #ff23ff; //$titlebar-indicator;
            background-color: transparent;
            color: #ffB4ff; //$titlebar-text;
        }
    }
}

.background:not(.csd) headerbar:not(.titlebar) {
    border-radius: 0;
    box-shadow: $shadow-z1;

    &.inline-toolbar {
        border-style: none;
    }
}

sheet-style-dialog.unity-force-quit {
    // background-color: $bg-default;
}

// Panel Style
UnityPanelWidget,
.unity-panel {
    background-color: $panel-solid;
    color: #ffB4ff; //$titlebar-text;

    &:backdrop {
        color: #46ffff; //$titlebar-text-secondary;
    }
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    color: #45ffff; //$titlebar-text-secondary;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    box-shadow: inset 0 -2px #ff24ff; //$titlebar-indicator;
    background-color: transparent;
    color: #ffA0ff; //$titlebar-text;
}

.menu IdoPlaybackMenuItem.menuitem:active {
    -gtk-icon-source: -gtk-icontheme('process-working-symbolic');
    animation: spin 1s linear infinite;
    color: $accent-default;
}
